{% load static %}<footer> 
    <div class="d-row d-md-flex justify-content-around align-items-center pt-5">
        <div class="text-center">
            {% if request.user.is_authenticated %}
                <a href="{% url 'pedido:lista' %}">
                    <p>Meus Pedidos</p>
                </a>
            {% else %}
                <a href="{% url 'perfil:criar' %}">
                    <p>Meus Pedidos</p>
                </a>
            {% endif %}
            <a href="{% url 'nossaloja:listalojas' %}">
                <p>Nossas Lojas</p>
            </a>
            <a href="{% url 'trabalheconosco:listavagas' %}">
                <p>Trabalhe Conosco</p>
            </a>
        </div>
        <div class="text-center pt-4">
            <a class="nav-link" href="https://wa.me/5531984987998?text=Oi%2C%20tudo%20bem%3F" target="_blank">
              <p>Atendimento via WhatsApp</p>
            </a>
            <p>Segunda a Sexta: 08h às 19h Sábados: 08h às 18h</p>
        </div>
    </div>
    <div id="contatos" class="pb-2 pt-5">
        <p class="text-center">©2023 por Renato Beck</p> 
    </div>   
</footer>

{% block style %}
  <link rel="stylesheet" href="{% static 'footer/css/style.css' %}">
{% endblock style %}