{% load static %}<div class="menu">
  <div class="d-flex align-items-center bg-black">
    <div class="col-8 col-md-9 text-md-center px-2 px-md-3 mt-3">
      <p class="fst-italic text-white"><span class="span-color">Frete Grátis</span> nas compras as acima de R$199 </p>
    </div>
    <div class="col-4 col-md-3">
      <div class="d-flex align-items-center justify-content-end mt-3 text-white">
        <p class="mx-2 mx-md-3">Nossas Lojas</p>
      </div>
    </div>
  </div>
  <div class="d-md-none">
    <nav class="navbar fixed-top p-0">
      <div class="col-12 text-center bg-black">
          <p class="fst-italic text-white my-3"><span class="span-color">Frete Grátis</span> nas compras as acima de R$199 </p>
      </div>
      <div class="container-fluid">
        <a class="nav-link" href="#">
          <img src="{% static 'global/images/LogoMenu.png' %}" alt="Logo do site">
        </a>
        <div class="d-flex justify-content-end align-items-center">
          <ul  class="m-0">       
            <div class="d-flex">
              <li>
                <a href="#">
                  <img src="{% static 'global/images/menuUser.png' %}" alt="Menu do cliente">
                </a>
              </li>
              <li class="mx-3">
                <a href="#">
                  <img src="{% static 'global/images/sacola.png' %}" alt="Sacola do cliemte">
                </a>
              </li>
            </div>
          </ul>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <img src="{% static 'global/images/Menu.png' %}" alt="Menu do site">
          </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <img src="{% static 'global/images/LogoMenu.png' %}" alt="Logo do site">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div></div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li><a href="#">Outlet</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Feminio
                </a>
                <ul class="dropdown-menu">
                  <li><h5 class="text-center">Lançamentos</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Moda Verão</a></li>
                  <li><a class="dropdown-item" href="#">Desconto apartir de 30%</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><h5 class="text-center">Roupas</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Camisetas</a></li>
                  <li><a class="dropdown-item" href="#">Calças</a></li>
                  <li><a class="dropdown-item" href="#">Camisas</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><h5 class="text-center">Calçados</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Sapatos</a></li>
                  <li><a class="dropdown-item" href="#">Chinelos</a></li>
                  <li><a class="dropdown-item" href="#">Tênis</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><h5 class="text-center">Acessórios</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Bolças</a></li>
                  <li><a class="dropdown-item" href="#">Relógios</a></li>
                  <li><a class="dropdown-item" href="#">Carteiras</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Masculino
                </a>
                <ul class="dropdown-menu">
                  <li><h5 class="text-center">Lançamentos</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Moda Verão</a></li>
                  <li><a class="dropdown-item" href="#">Desconto apartir de 30%</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><h5 class="text-center">Roupas</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Camisetas</a></li>
                  <li><a class="dropdown-item" href="#">Calças</a></li>
                  <li><a class="dropdown-item" href="#">Camisas</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><h5 class="text-center">Calçados</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Sapatos</a></li>
                  <li><a class="dropdown-item" href="#">Chinelos</a></li>
                  <li><a class="dropdown-item" href="#">Tênis</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><h5 class="text-center">Acessórios</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Bolças</a></li>
                  <li><a class="dropdown-item" href="#">Relógios</a></li>
                  <li><a class="dropdown-item" href="#">Carteiras</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Infantil
                </a>
                <ul class="dropdown-menu">
                  <li><h5 class="text-center">Lançamentos</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Moda Verão</a></li>
                  <li><a class="dropdown-item" href="#">Desconto apartir de 30%</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><h5 class="text-center">Roupas</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Camisetas</a></li>
                  <li><a class="dropdown-item" href="#">Calças</a></li>
                  <li><a class="dropdown-item" href="#">Camisas</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><h5 class="text-center">Calçados</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Sapatos</a></li>
                  <li><a class="dropdown-item" href="#">Chinelos</a></li>
                  <li><a class="dropdown-item" href="#">Tênis</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><h5 class="text-center">Acessórios</h5></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Bolças</a></li>
                  <li><a class="dropdown-item" href="#">Relógios</a></li>
                  <li><a class="dropdown-item" href="#">Carteiras</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="d-none d-md-block">
    <nav class="d-flex navbar navbar-expand p-0">
      <ul>
        <li class="logo">
          <a class="nav-link" href="#">
            <img src="{% static 'global/images/LogoMenu.png' %}" alt="Logo do site">
          </a>
        </li>
        <li class="dropdown">
          <a href="#">Feminino</a>
          <ul class="menu-area">
            <ul>
              <h4>Novidades</h4>
              <li><a href="#">Moda Verão</a></li>
              <li><a href="#">A partir de 30% de disconto</a></li>
            </ul>
            <ul>
              <h4>Roupas</h4>
              <li><a href="#">Calças</a></li>
              <li><a href="#">camisetas</a></li>
              <li><a href="#">Jaquetas</a></li>
            </ul>
            <ul>
              <h4>Calçados</h4>
              <li><a href="#">Sapato</a></li>
              <li><a href="#">Tênis</a></li>
              <li><a href="#">Chinelos</a></li>
            </ul>
            <ul>
              <h4>Acessórios</h4>
              <li><a href="#">Relógios</a></li>
              <li><a href="#">Carteiras</a></li>
              <li><a href="#">Óculos</a></li>
            </ul>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">Masculino</a>
          <ul class="menu-area menu-space-1">
            <ul>
              <h4>Novidades</h4>
              <li><a href="#">Moda Verão</a></li>
              <li><a href="#">A partir de 30% de disconto</a></li>
            </ul>
            <ul>
              <h4>Roupas</h4>
              <li><a href="#">Calças</a></li>
              <li><a href="#">camisetas</a></li>
              <li><a href="#">Jaquetas</a></li>
            </ul>
            <ul>
              <h4>Calçados</h4>
              <li><a href="#">Sapato</a></li>
              <li><a href="#">Tênis</a></li>
              <li><a href="#">Chinelos</a></li>
            </ul>
            <ul>
              <h4>Acessórios</h4>
              <li><a href="#">Relógios</a></li>
              <li><a href="#">Carteiras</a></li>
              <li><a href="#">Óculos</a></li>
            </ul>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">Infantil</a>
          <ul class="menu-area menu-space-2">
            <ul>
              <h4>Novidades</h4>
              <li><a href="#">Moda Verão</a></li>
              <li><a href="#">A partir de 30% de disconto</a></li>
            </ul>
            <ul>
              <h4>Roupas</h4>
              <li><a href="#">Calças</a></li>
              <li><a href="#">camisetas</a></li>
              <li><a href="#">Jaquetas</a></li>
            </ul>
            <ul>
              <h4>Calçados</h4>
              <li><a href="#">Sapato</a></li>
              <li><a href="#">Tênis</a></li>
              <li><a href="#">Chinelos</a></li>
            </ul>
            <ul>
              <h4>Acessórios</h4>
              <li><a href="#">Relógios</a></li>
              <li><a href="#">Carteiras</a></li>
              <li><a href="#">Óculos</a></li>
            </ul>
          </ul>
        </li>
        <li>
          <a href="#">Outlet</a>
        </li>
      </ul>
      <ul  class="d-flex justify-content-end">       
        <div class="d-flex">
          <li>
            <a href="#">
              <img src="{% static 'global/images/menuUser.png' %}" alt="Menu do cliente">
            </a>
          </li>
          <li class="mx-3">
            <a href="#">
              <img src="{% static 'global/images/sacola.png' %}" alt="Sacola do cliemte">
            </a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</div>

{% block style %}
  <link rel="stylesheet" href="{% static 'global/header/css/style.css' %}">
{% endblock style %}