{% load static %}<div class="menu bg-black">
  <div class="d-flex align-items-center">
    <div class="col-8 col-md-9 text-md-center px-2 px-md-3 mt-3">
      <p class="fst-italic text-white"><span class="span-color">Frete Grátis</span> nas compras as acima de R$199 </p>
    </div>
    <div class="col-4 col-md-3">
      <div class="d-flex align-items-center justify-content-end mt-3 text-white">
        <p>Nossas Lojas</p>
        <p class="mx-2 mx-md-3">Blog</p>
      </div>
    </div>
  </div>
  <nav class="d-flex justify-content-between navbar navbar-expand bg-white border-bottom border-body px-3 px-sm-4">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home:home' %}">Home</a>
        </li>
      </ul>
  </nav>
</div>