.span-color {
   color: #58CD64;
}

.card {
    z-index: -1;
}

@media (max-width: 767px) {
    .contener {
        padding-top: 126px;
    }  
    .menu {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .contener {
        padding-top: 126px;
    } 
}

