{% extends 'global/base.html' %}
{% load bsfilters %}
{% load static %}
{% block title %}BS | Home{% endblock title%}

{% block conteudo %}
    <div class="grid-container">

      {% for produto in produtos %}

      <div class="card-stilo mb-3">

        <div class="row">
          {% if produto.imagem %}
          <a href="{% url 'produto:detalhe' produto.slug %}">
            <img class="card-img-top mb-2" src="{{ produto.imagem.url}}" alt="{{produto.nome}}">
          </a>
          {% endif %}

          <div class="card-body">
              <h5 class="card-title px-3">{{ produto.nome }}</h5>  
              <div class="container product-price-block align-items-end text-center">
                
                  {% if produto.preco_promocional %}
                    <span class="product-price">
                        {{ produto.preco_promocional|formata_preco }}
                    </span>
                    <span class="product-old-price text-muted">
                        {{ produto.preco|formata_preco }}
                    </span>
                  {% else %}
                    <span class="product-price">
                        {{ produto.preco|formata_preco }}
                    </span>
                  {% endif %}

                  <div class="card-footer bg-transparent text-center">
                      <a href="{% url 'produto:detalhe' produto.slug %}" class="btn btn-sm m-3 px-3 btn-block">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          Adicionar à Sacola
                      </a>
                  </div>
              </div>
          </div>

        </div>

      </div>

      {% endfor %}
    </div>

    <div class="row mt-3">
      <div class="col">
          {% include 'global/partials/_pagination.html' %}
      </div>
    </div>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'produto/css/style.css' %}">
{% endblock style %}